%html
  %head
    %meta{"content" => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p
      You've gotten a request for CareContent sample:
    %p
      Sender:
    %p
      = @name
    %p
      Email:
    %p 
      = @email
    %p
      Organization:
    %p
      = @organization
