%html
  %head
    %meta{"content" => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p
      You've gotten a suggestion for CareContent:
    %p
      Sender:
    %p
      = @email
    %p
      Suggestion:
    %p 
      = @suggestion
