.row
  .span3
    %ul.thumbnails
      %li.span3
        = image_tag("http://placehold.it/260x180")
    %h3
      Our Mission
    %p
      %i
        We use web content to tell the stories of the human body; to explain the conditions that impair it; and lead people to those who restore it.
  .span9
    %h2
      What is CareContent?
    %p
      It's a robust content service that allows hospitals and health systems to update web site pages, feed e-newsletters and finally link to something
      worthwhile on social media sites. CareContent licenses feature stories, quizzes, current news articles, photos and illustrations from a growing 
      growing repository of web content. Stop dreading the next website update or e-newsletter deadline. Now you can get excited about filling your web
      vehicles with content patients will love reading.
    %h2
      How does the service work?
    %ol
      %li
        Log in.
      %li
        Select the content you want for your website or e-newsletter. The content you select is guaranteed to be exclusive within your primary and secondary
        service area for one full year.
      %li
        Edit the content to your heart's delight. Use the "quick quote" prompts to add insights from your hospital or health system's clinicians and leaders
        (or skip them, no pressure). Include information about your organization's programs and services, along with a photo or two. (We strongly recommend
        giving quoted sources the opportunity to review the content before publishing).
      %li
        Post it on your landing page or plop it in your e-newsletter.
      %li
        Don't forget to mention the new content on your social media vehicles. Tweet one of the added or post it as your organization's new Facebook status update.
    %h2
      Where do I sign up?
    %p
      Try it free for 30-days. After that, CareContent is available for a tiered monthly subscription, based on how munch content is needed each month. Rates
      start at $900/month for 10 features, enough to update a home page or main landing page two times each week!
