.container
  #about
    .row
      .span4
        <iframe class="video-border" width="340" height="230" src="http://www.youtube.com/embed/-FeTrtuWOV4" frameborder="0" allowfullscreen></iframe>
      .span7.offset1
        %h2
          What is CareContent?
        %p
          We help health care organizations engage patients online with compelling web content. We can work one-on-one
          with your team to create custom web content, or you can license CareContent's reserve of features, medical news,
          slide shows, and more.
        = link_to "See Pricing", pricing_url, :class => 'btn btn-primary btn-large pull-right', :id => 'see-pricing'
    #about-steps
      .row
        .span12
          %h2
            How does CareContent's reserve work?
      .row
        .center
          .span2
            %h3
              1) Sign In
            %p
              If you're new,
              %br
              = link_to 'sign up!', pricing_url
          .span2
            %h3
              2) Select content
            %p
              Download it now, or save it for later.
          .span2
            %h3
              3) Customize it
            %p
              Promote clinicians, programs and services.
          .span2
            %h3
              4) Publish it
            %p
              In e-newsletters, on websites and digital signage.
          .span2
            %h3
              5) Spread the word
            %p 
              Use suggested Tweets and Facebook updates.
    .faqs.shaded-box
      .row
        %h2
          Frequently Asked Questions about CareContent
        .span5
          %p.bold
            Who produces the content?
          %p
            We write it. Our writers really listen to patients to create content that resonates with them.
          %p.bold
            How do you ensure exclusivity?
          %p
            Our database is programmed to block your downloaded content from availability to other users in your service area.
          %p.bold
            How is the content customizable?
          %p
            The content is delivered in the same formats you'd use if you were creating it 
            yourself - .docx or .html. This ensures compatibility with any web platform
            or CMS.
        .span5.left-margin
          %p.bold
            How is CareContent different?
          %p
            Other web content services focus on diseases and conditions. CareContent speaks to the patient
            experience. See for yourself below.
          %p.bold
            What about SEO for content on websites?
          %p
            Being the first to publish the content can boost SEO. Though content is exclusive within each
            user's service area, we are constantly adding new content to deter duplication among users.
          %p.bold
            After I select content, how is it delivered?
          %p
            You can download it, and soon you'll be able to have it emailed.

#about-email
  .container
    .row
      .span5
        %p.bold
          Get a free, full-length web feature, or request a quote for custom content:
      .span7
        = render 'send_sample'
.container
  .row
    = link_to 'See Pricing', pricing_url, :class => 'btn btn-primary btn-large pull-right'
          




