#payments-hero
  .container
    .row
      .small-container
        %h1
          Fresh, engaging web content gives current and prospective patients a reason to keep coming back.
#payment-steps
  .container
    .row
      .span3.shaded-box
        %h3
          Review your chosen package
    .row
      .span3.shaded-box
        %h3
          Create an account
    .row
      .span3.shaded-box
        %h3
          Agree to Terms of Use or subscriber contract 
    .row
      .span3.shaded-box
        %h3
          Enter payment preference

