<div class="container">
  <div id="legal">
    <p><b>TERMS AND CONDITIONS, FOR ALL USERS:</b></p>
    <p><b>1. Terms</b></p>

    <p>By licensing content from CareContent, Inc, you agree to abide by these Terms and Conditions, all applicable laws and regulations. CareContent, Inc. may revise these Terms and Conditions at any time. The materials contained in this website are protected by applicable copyright and trade mark law.</p>

    <p><b>2. Use</b></p>

    <p>You may download and publish content from CareContent, Inc. in accordance with the a la carte or monthly subscription package you’ve chosen. The content on CareContent, Inc.'s website is intended for use only for the purchasing health care organization’s website, in e-newsletters, digital signage, social media and other electronic communications vehicles. This is the grant of a non-exclusive, non-transferrable license, not a transfer of title, and under this license, you may not:</p>

        <div style="margin-left: 8px">
          <ol> 
            <li><p>Remove any disclaimers, copyright or other proprietary notations on the original content; included but not limited to the following disclaimers:</p>
                <p><i>This content is for informational purposes only, and is not intended to substitute professional medical advice, diagnosis, or treatment. Always seek the advice of your physician or other qualified health provider with any questions you may have regarding a medical condition. Never disregard professional medical advice or delay in seeking it because of something you have seen on this website.</i></p>
                <p><i>The original format of this content is the copyright of </i><a href="http://www.carecontent.com/"><i>CareContent</i></a><i>, Inc. © 2012-2014. It may have been edited from the original version. Links to human and written sources does not constitute an endorsement of those sources by CareContent, Inc.</i></p>
            </li>
            <li><p>Transfer, reassign or resell the materials to another person, health care organization or other entity; or</p></li>
            <li><p>Attempt to decompile or reverse engineer any software contained on CareContent, Inc.'s website.</p></li>
          </ol>
        </div>
    <p>This license shall automatically terminate if you violate any of these restrictions. Violators will be still responsible for outstanding payments. License termination prohibits viewing and downloading the content on CareContent.com. With regard to articles downloaded before termination of your subscription, such license shall remain valid provided that you are in compliance with all other terms.</p>

    <p><b>3. Disclaimer</b></p>

    <p>The materials on CareContent, Inc.'s website are provided "as is". Except for the warranties expressly written on this site, CareContent, Inc. makes no other warranties, expressed or implied, and disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.</p>

    <p><b>4. Limitations</b></p>

    <p>In no event shall CareContent, Inc. or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising from the use or inability to use the materials on CareContent, Inc.'s website, even if CareContent, Inc. or a CareContent, Inc. authorized representative has been notified orally or in writing of the possibility of such damage.</p>

    <p><b>5. Privacy Policy</b></p>

    <p>Your privacy is very important to us. If CareContent, Inc. requests information about your health care organization and its use of CareContent.com, we will identify the purposes for which the information is being requested. CareContent, Inc. will not share the collected information with anyone and will only retain the information as long as necessary for the fulfillment of those purposes. CareContent, Inc. will employ reasonable security safeguards against loss, theft, unauthorized access, disclosure, copying, use or modification.</p>

    <p><b>6. Refunds</b></p>

    <p>CareContent, Inc. does not allow refunds for content that has already been downloaded, and we reserve the right to grant or deny refunds for any reason. If your organization is interested in a refund, we’ll happily work with you to resolve the issue.</p>
    <br>
    <p><b>ANNUAL CONTRACT, FOR SUBSCRIBERS ONLY:</b></p>

    <p>In addition to the “Terms and Conditions, For All Users.” Subscribers agree to the following:</p>

    <p><b>7. Contract</b></p>

    <p>All subscribers will be emailed a copy of this contract. It must be signed and returned within 14 days to CareContent, Inc. It is valid for one year. </p>

    <p><b>8. Payment</b></p>

    <p>Subscribers agree to: </p>

    <ol type="i"> <li><p>Pay the annual subscription price in full at the start of the subscription period within 30 days after receiving an invoice, or</p>

    </li>
    </ol> <ol type="i" start="2"> <li><p>Pay the monthly amount of their chosen subscription package within 30 days after receiving each monthly invoice.</p>

    </li>
    </ol><p>The subscriber is responsible for the entire annual subscription price, regardless of whether they terminate or use the service until their annual subscription ends. Subscriptions are based on a monthly allotment of downloads.</p>

    <p><b>9. Subscription Revisions</b></p>

    <p>Content allowance expires one year after the Subscriber activates the subscription on CareContent.com by requesting the first invoice. Monthly content allowances are adjustable provided that the Subscriber stays within the monthly allotment and continues to pay the invoice(s). A Subscriber who pays monthly may change the chosen subscription package at any time. If you change packages, we’ll end your current contract and send you a new contract. The new monthly payment will begin after the signed contract is received. </p>

    <p><b>10. Renewals</b></p>

    <p><a name="_GoBack"></a> Subscriptions automatically renew after one year, unless canceled at least 30 days before the current contract ends. Subscribers may decline to continue the subscription before it automatically renews, but we’ll ask you for a lot of feedback about how CareContent can improve to continue serving you.</p>

    <p>If you have any questions, please contact Kadesha at 312-532-1362. Thank you!</p>
  </div>
</div>  
