%table.table
  %thead
    %tr
      %th Title
      %th Description 
      %th Categories 
      %th File 
  %tbody
    - @content_files.each_with_index do |content, i|
      %tr
        %td 
          = content.title
        %td 
          = content.description
        %td
          = content.categories.collect(&:name).join(', ')
        %td 
          .btn
            Preview
        %td
          = link_to "Download", download_file_url(:id => content.id), :class => "btn" unless content.word_file.to_s.nil?





