%table.table
  %thead
    %tr
      %th Title
      %th Description 
      %th Categories 
      %th File 
  %tbody
    - @content_files.each do |content|
      %tr
        %td 
          = content.title
        %td 
          = content.description
        %td
          - content.categories.each do |category|
            = category.name
        %td 
          = link_to "Download File", download_file_url(:id => content.id), :class => "btn"
        %td 
          .btn
            Preview
        %td
          .btn
            Download




