.row
  - @content_files.each do |content|
    .span6.content_summary
      %h3.content_title
        = content.title
      %p.content_description
        = content.description
      %p.content_categories
        = content.categories.collect(&:name).join(', ')
      %i.icon-download
        .download_text
          = link_to "Download", download_file_url(:id => content.id)
        
  




