@import "bootstrap";

body {
  padding-top: 60px;
}

p {
}

.hero-unit {
  padding: 20px;
  h1 {
    margin-bottom: 10px;
    font-size: 45px;
  }

}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding: 10px 0;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar .nav > li > a {
  float: none; 
  line-height: 28px;
  padding: 9px 10px 11px;
}

/* Content Index */

.content_summary {
  height: 180px;
  margin-top: 15px;
  border-bottom: 1px dashed gray;
}

.content_title {
  text-transform: uppercase;
}

.content_description {

}

.content_categories {

}

.icon-download:hover {
  cursor: pointer;
}

.download_text {
  margin-left: 15px;
  display: block;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  a {
    color: #555;
    &:hover { 
      color: red;
      text-decoration: none; 
    }
  }
  ul {
    float: right;
    list-style: none;
    li { 
      float: left; 
      margin-left: 10px;
    }
  }
  #copyright {
    float:left;
  }
}

