$btnPrimaryBackground: #f23a36;
$linkColor: #f23a36; 
@import "bootstrap";

body {
  background-color: #F8F8F8;
  min-width: 1040px;
}
 
a:hover {
  text-decoration: none;
}

p {
  color: #7D7D7D;
}

.bold {
  font-weight: bold;
}

.green {
  color: #569c91;
}

.orange {
  color: #F23A36;
}

.center { 
  text-align: center;
}

.alert {
  margin-top: 10px;
  margin-bottom: 10px;
}

.divider-line {
  border-top: 2px solid #b1d4cd;
  margin: 15px 0;
}

#logo {
  float: left;
  margin-right: 10px;
  margin-top: 8px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding: 10px 0;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar {
  margin-bottom:0px;
  .container {
    width: 940px;
  }
}

.navbar-inner {
  min-height: 75px;
  background-color: #F8F8F8;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.navbar .nav > li > a {
  float: none; 
  line-height: 18px;
  padding: 9px 10px 11px;
  background-color: #F23A36;
  color: white;
  font-size: 14px;
  text-shadow: none;
  margin: 15px 0 0 5px;
  border-radius: 8px;
  &:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: #F23A36;
    color: white;
  }
  background-color: #F24C36;
  background-image: -moz-linear-gradient(top, #F23A36, #F26936);
  background-image: -ms-linear-gradient(top, #F23A36, #F26936);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F23A36), to(#F26936));
  background-image: -webkit-linear-gradient(top, #F23A36, #F26936);
  background-image: -o-linear-gradient(top, #F23A36, #F26936);
  background-image: linear-gradient(top, #F23A36, #F26936);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF23A36', endColorstr='#FFF26936', GradientType=0);
  border-color: #F26936 #F26936 #CE420D;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.video-border {
  border: 5px solid white;
  box-shadow: 0 0 10px black;
  -webkit-box-shadow: 0 0 10px black;
}

#hero {
  background-image: url('hero-background2.png');
  background-repeat: repeat-y;
  height: 392px;
  box-shadow: 0 0 5px black;
  -webkit-box-shadow: 0 0 5px black;

}

#hero-tagline {
  margin-top: 50px;
  h1 {
    font-size: 35px;
    color: white;
    line-height: 50px;
    margin-top: 60px;
    margin-bottom: 15px;
  }
}


#hero-description {
  margin-top: 20px;
  p {
    font-size: 18px;
    line-height: 36px;
    text-align: center;
  }
  .hero-benefit {
    p {
      text-align: left;
      margin-top: 11px;
      font-size: 18px;
    }
    li {
      margin-left: -5px;
      font-size: 18px;
      line-height: 30px;
      color: #7D7D7D;
    }
  }
}

#hero-email {
  margin-top: 20px;
  background-color: #b1d4bb;
  padding: 10px 0;
  box-shadow: 0px -2px 10px #7D7D7D;
  p {
    font-size: 18px;
    color: white;
    line-height: 28px;
    margin-bottom: 0px;
  }
  form {
    margin-bottom: 0px;
  }
  input {
    margin-left: 5px;
  }
  .btn {
    margin-left: 12px;
  }
}

#hero-content {
  h3.hero {
    margin: 35px 0;
    color: #569c91;
    font-size: 20px;
  }
  img {
    border: 5px solid white;
    box-shadow: 0 0 5px black;
    -webkit-box-shadow: 0 0 5px black;
    color: white;
  }
  a {
    color: #f23a36;
  }
  .hero-categories {
    margin: 10px 0px 35px 0; 
    h3 {
      font-size: 15px;
    }
    p {
      font-size: 16px;
      line-height: 30px; 
    }
  }
}

.sign_in_out {
  margin-top: 35px;
  h2 {
    color: #569c91;
  }
}

#sign-up {
  h2 {
    font-size: 17px;
    color: #569c91;
  }
  p {
    font-size: 15px;
  }
}

#about {
  margin-top: 35px;
  .span2 {
    width: 170px;
  }
  h2 {
    color: #569c91;
  }
  h3 {
    color: #f23a36;
    font-size: 18px;
    margin-top: 5px; 
  }
  p {
    font-size: 18px;
    line-height: 30px;
  }
}

#see-pricing {
  margin-top: 18px;
}

#about-steps {
  margin: 30px 0;
  br {
    margin-top: -10px;
  }
}

#about-email {
  margin-top: 40px;
  margin-bottom: 40px;
  background-image: url('hero-pricing-background.png');
  background-repeat: repeat-x;
  padding: 10px 0;
  box-shadow: 0px -2px 10px #7D7D7D;
  img {
    width: 200%;
  }
  p {
    font-size: 21px;
    color: white;
    line-height: 32px;
    margin-top: 18px;
  }
  form {
    margin-bottom: 0px;
    line-height: 65px;
  }
  input {
    margin-left: 5px;
  }
  .input-medium {
    width: 123px;
  }
  .btn {
    margin-left: 12px;
  }
}

.shaded-box {
  background-color: rgb(250,246,209);
  padding: 10px;
  box-shadow: 5px 5px 10px black;
  -webkit-box-shadow: 5px 5px 10px black;
  border-radius: 5px;
}

.faqs {
  margin: 20px auto 0 auto;
  padding: 20px;
  width: 850px;
  h2 {
    text-align: center;
    color: #569c91;
  }
  p.bold {
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 20px;
    line-height: 20px;
  }
  p {
    font-size: 18px;
    line-height: 30px;
  }
  .span5 {
    width: 405px;
  }
  .left-margin {
    margin-left: 40px;
  }
}

#terms-link {
  color: #7D7D7D;
}

#terms-link:hover {
  text-decoration: underline;
  color: #F23A36;
}

#hero-pricing {
  background-image: url('hero-pricing-background.png');
  box-shadow: 0 0 5px black;
  -webkit-box-shadow: 0 0 5px black;
  h2 {
    line-height: 125px;
    color: white;
  }
}

#pricing-options {
  margin-top: 30px;
  p {
    font-size: 18px;
    line-height: 27px;
  }
  .offset1 {
    margin-left: 40px;
  }
  .span6 {
    width: 520px;
  }
}

#a-la-carte-pricing {
  margin: 10px 0 20px 0;
  p {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
  }
  [class*="span"] {
    margin-left: 32px;
  }
}

#subscription-pricing {
  margin: 10px 0 20px 0;
  p {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
  }
  [class*="span"] {
    margin-left: 27px;
  }
  .large-span1 {
    width: 100px;
    margin-left: -5px;
  }
  .coming-soon {
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    margin-left: 6px;

  }
}

#payments-hero {
  background-image: url('hero-background2.png');
  height: 130px;
  box-shadow: 0 0 5px black;
  -webkit-box-shadow: 0 0 5px black;
  .small-container {
    width: 800px;
    margin: 0 auto;
  }
  h1 {
    color: white;
    padding: 23px;
    text-align: center;
  }
}

#payment-steps {
  margin-top: 25px;
  h3 {
    color: #F23A36;
    text-align: center;
  }
  .small {
    font-size: 12px;
  }
  p {
    font-size: 18px;
    line-height: 30px;
  }
}

#user-purchases {
  margin-top: 35px;
  p {
    font-size: 18px;
    line-height: 17px;
  }
  label {
    font-size: 18px;
    line-height: 17px;
    font-weight: bold;
    color: #7D7D7D;
  }
}

#contact_form {
  margin-top: 30px;
  p {
    color: #569c91;
    font-weight: bold;
  }
  input {
    width: 100%;
  }
  textarea {
    width: 100%;
  }
  input[type='submit'] {
    width: auto;
  }
}

/* Content Index */

#content_files {
  margin-top: 10px;
}

.content_summary {
  height: 225px;
  margin-bottom: 15px;
  margin-left: 10px;
  box-shadow: 0px 0px 10px black;
  -webkit-box-shadow: 0px 0px 10px black;
  padding: 20px;
  position: relative;
}

.downloaded {
  background: blanchedAlmond;
  opacity: 0.4;
}

.content_title {
  text-transform: uppercase;
}

.content_description {

}

.content_categories {
  font-size: 10px;
}

.nav-list > .no_filter > li > a {
  background: blue;
}

a.current_filter {
  background: #F23A36;
  color: white;
}

.content-action-bar {
  padding: 10px 0px;
  position: absolute;
  bottom: 0;
}

.sidebar_links {
  text-transform: none;
  text-shadow: none;
  font-weight: normal;
}

#cancel_account {
  margin-top: 10px;
}

/* footer */
ul.social {
  float: left;
  list-style: none;
  margin-left: -10px;
  li { 
    float: left; 
    margin-left: 10px;
  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  a {
    color: #555;
    &:hover { 
      color: red;
      text-decoration: none; 
    }
  }
  ul.links {
    float: right;
    list-style: none;
    li { 
      float: left; 
      margin-left: 10px;
    }
  }
  #copyright {
    p {
      font-size: 11px;
      margin: 30px 0 10px 0;
      text-align: center;
    }
  }
}

#legal {
  margin-top: 25px;
  li {
    color: #7D7D7D;
  }
}

